<!DOCTYPE HTML>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <title>WEBデザイン講習課題</title>
  <!-- <link rel="stylesheet" href="https://hachi8877.github.io/new/style1.css" /> -->
  <link rel="stylesheet" href="C:\Users\user\Desktop\20211113\css\style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
   <header>
    <div class="header-left">
        <img src="C:\Users\user\Desktop\20211113\img\sappari.png" alt="ロゴ" class="site_logo" >
    </div>
    <img src="C:\Users\user\Desktop\20211113\img\sp_menu_open.png" alt="メニューオープン" id="sp_menu_open">
    <img src="C:\Users\user\Desktop\20211113\img\sp_menu_close.png" alt="メニュークローズ" id="sp_menu_close">
      <div class="header-right">
      </div>
    </div>
   </header>

   <div class="main-visual">
    <img src="C:\Users\user\Desktop\20211113\img\main_01.png" alt="画像" class="top_img">
    <ul id="menu">
      <li><a class="menu_item" href="#">top</a></li>
      <li><a class="menu_item" href="#">about</a></li>
      <li><a class="menu_item" href="#">access</a></li>
      <li><a class="menu_item" href="#">help</a></li>
  </ul>
  </div>

  <div class="main">
     <div class="main_left">
       <div class="left_inside">
         <div class="left_contents">
          <img src="C:\Users\user\Desktop\20211113\img\pc_img_11.png" alt="kuma" class="contents1_img" >
          <p class="contents1_text">飼い主募集中</p>
          <p class="contents1_text_under">クマ牧場</p>
         </div>
         <div class="left_contents">
          <img src="C:\Users\user\Desktop\20211113\img\pc_img_10.png" alt="kuma" class="contents1_img" >
          <p class="contents1_text">映える海鮮丼ならここ</p>
          <p class="contents1_text_under">魚いっぱい市場</p>
         </div>
         <div class="left_contents">
          <img src="C:\Users\user\Desktop\20211113\img\IMG_1319.jpeg" alt="kuma" class="contents1_img" >
          <p class="contents1_text">売る気のないメルカソ特集</p>
          <p class="contents1_text_under">メルカソ</p>
         </div>
       </div>
     </div>
     <div class="main_right">
      <div class="right_inside">
        <div class="garaly">
          <div class="garaly_left">
            <img src="C:\Users\user\Desktop\20211113\img\IMG_0489.jpeg" alt="park" class="park1_img" >
          </div>
          <div class="garaly_right">
            <div class="garaly_right_top">
              <img src="C:\Users\user\Desktop\20211113\img\pc_img_02.png" alt="shark" class="shark_img" >
            </div>
            <div class="garaly_right_under">
              <img src="C:\Users\user\Desktop\20211113\img\pc_img_03.png" alt="mori" class="mori_img" >
              <img src="C:\Users\user\Desktop\20211113\img\pc_img_04.png" alt="mori" class="mori_img" >
            </div>
          </div>
        </div>

        <div class="obuchan_movie">
          <iframe  width="560" height="315" src="https://www.youtube.com/embed/3xqvrazVkuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="movie_contents"></iframe>
          </iframe>
        </div>

        <div class="info">
          <div class="info_title">
              <p>新着情報</p>
          </div>
          <div class="bar"></div>
          <div class="info_list">
              <ul>
                  <li class="info_list_item">・ジンギスカンは松尾が美味しい</li>
                  <li class="info_list_item">・サッポロ一番は塩一択</li>
                  <li class="info_list_item">・北海道赤平市が人気急上昇⁉</li>
                  <li class="info_list_item">・ジンギスカンは松尾が美味しい</li>
                  <li class="info_list_item">・サッポロ一番は塩一択</li>
              </ul>
          </div>
      </div>

      <div class="akahira_contents">
        <div class="akahira_left">
          <img src="C:\Users\user\Desktop\20211113\img\pc_img_05.png" alt="park" class="akahira_img" >
        </div>
        <div class="akahira_right">
          <div class="akahira_title">
            <div class="akahira_title_box">赤平よいとこ一度はおいで</div>
          </div>
          <div class="akahira_text">
            北海道赤平氏は北海道出身者が出演する某人気番組の影響でここ数年で知名度が急上昇。<br>ドラマのロケ地になるほど、注目を集めています。
        </div>
        <div class="akahira_button_contents">
          <button class="akahira_button" type="button">もっと知りたい</button>
          <button class="akahira_button" type="button">今すぐ行きます</button>
      </div>
        </div>
      </div>

      <div class="blog">
        <div class="blog_box">
        <div class="blog_content">
          <img src="C:\Users\user\Desktop\20211113\img\buildingjpeg.jpeg" alt="マンション" class="blog_img">
          <p class="blog_text">マンション買うならいくら？</p>
        </div>
        <div class="blog_content">
          <img src="C:\Users\user\Desktop\20211113\img\IMG_0643.jpeg" alt="くまのむいぐるみ" class="blog_img">
          <p class="blog_text">あの時買えばよかったあれ</p>
        </div>
        <div class="blog_content">
          <img src="C:\Users\user\Desktop\20211113\img\IMG_1319.jpeg" alt="カオルカオル君" class="blog_img">
          <p class="blog_text">売る気のないメルカソ特集</p>
        </div>
      </div>
      </div>
      <div class="blog_button">
      <button class="buy_button" type="button">メルカソで買い物する</button>
      </div>

      <div class="tokyo_contents">
        <div class="tokyo_right">
          <div class="tokyo_title">
            <div class="tokyo_title_box">東京の空も悪くない</div>
          </div>
          <div class="tokyo_text">
            東京は空が狭い。<br>
            高いビルが隙間なく伸びていって、<br>
            空全体が見えることなんてほとんどないけど。<br>
            たまに高いところから空を見てみると、<br>
            意外な発見があったりして。一息つくのもいいと思うよ。
        </div>
        <div class="tokyo_more">
          <div class="tokyo_more_box">空の写真をもっと見る</div>
        </div>
        </div>
        <div class="tokyo_left">
          <img src="C:\Users\user\Desktop\20211113\img\pc_img_05.png" alt="park" class="akahira_img" >
        </div>
      </div>


      <div class="catalog">
        <div class="catalog_box">
        <div class="catalog_content">
          <img src="C:\Users\user\Desktop\20211113\img\IMG_1319.jpeg" alt="マンション" class="catalog_img">
          <p class="catalog_text">未使用ZIPPO</p>
          <button class="catalog_button" type="button">欲しい</button>
           
        </div>
        <div class="catalog_content">
          <img src="C:\Users\user\Desktop\20211113\img\IMG_1319.jpeg" alt="くまのむいぐるみ" class="catalog_img">
          <p class="catalog_text">モノリスオルゴール</p>
          <button class="catalog_button" type="button">欲しい</button>
        </div>
      </div>
      </div>

      <div class="japan_contents">
        <div class="japan_left">
          <img src="C:\Users\user\Desktop\20211113\img\pc_img_10.png" alt="park" class="japan_img" >
        </div>
        <div class="japan_right">
          <div class="japan_title">
            <div class="japan_title_box">日本に生まれてよかったでしょ</div>
          </div>
          <div class="japan_text">
            海外旅行に行くたびに思うこと。「日本のご飯が食べたい」<br>
            食べなれてるものだからというのもあるけど、<br>
            それだけじゃないよね。
        </div>
        <div class="japan_menu">
          <div class="japan_menu_box">日本に生まれてよかったでしょ</div>
        </div>
        <div class="japan_menu">
          <div class="japan_menu_box">日本に生まれてよかったでしょ</div>
        </div>
        <div class="japan_menu">
          <div class="japan_menu_box">日本に生まれてよかったでしょ</div>
        </div>
        </div>
      </div>

      <footer>
        <div class="footer_img">
          <img src="C:\Users\user\Desktop\20211113\img\sappari.png" alt="park" class="footer_img" >
        </div>
        <div class="footer_text">
            <div class="shop_name">Matsuo sheep</div>
            <div class="shop_address">〒000-0000 TOKYO SHINJUKU 0-0-0</div>
        </div>
    </footer>
  

      </div>
     </div>

  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script type="text/javascript" src="script.js"></script>

</body>